body{
	font-size: 17px;
	margin: 5vh;
	background-color: #7da8ed;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("Screen-Shot-2018-10-02-at-11.48.55-AM.png");
}

h1, h2, h3 {
	text-transform: uppercase;
	font-family: 'Noto Sans', sans-serif;
}

h1{
	text-align: center;
}

a:link {
	color: #000fff;
}

.pageTop{
	background-color: #cfcfff;
	border-radius: 50px;
	padding: 1vh;
}

.content {
	background-color:#fff8dc;
	padding: 2vh 4vh 2vh 4vh;
	width: 65vw;
	max-width: 980px;
	border-radius: 10px;
}

.smallContainer{
	border: 5px solid #7da8ed;
	padding: 2vh;
	margin: 2vh;
	border-radius: 10px;
}

img {
	width: 100%;
}

.centerImage {
	display: flex;
	align-items: center;
	justify-content: center;
}
}